html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(145deg, #1e1e1e, #3d3d3d);
  background-attachment: fixed;
  font-family: sans-serif;
  color: #ffffff;
}
/* Topmost Area, title name and company */
#titleheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px 0;
  background: linear-gradient(90deg,rgba(30, 30, 30, 0) 75%, rgba(255, 255, 255, 1) 85%);
}
#titleheader h2 {
  margin: 0;
  color: #ff3b3b;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5em;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  text-shadow: 1px 1px 10px #000000;
}
#titleheader img {
  padding: 0;
  margin: 0;
  width: 20%;
}
/* Logged in User and Logout Button */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 5px 0;
  background: #8a0000;
}
#header div h3 {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
#header #logOutButton {
  display: flex;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 22.5px;
  color: white;
  background-image: linear-gradient(#ff2b2b, #cd0000);
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}
#header #logOutButton:hover {
  padding-right: 45px;
  /* transform: scale(1.05) skewX(-15deg); */
}
#header #logOutButton:active {
  letter-spacing: 2.5px;
  /* transform: translateY(5px) skewX(-15deg); */
  transition: 100ms;
}
/* searchBar */
#searchBar {
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
}
#searchBar input {
  text-align: center;
  padding: 5px;
  border: solid 3px #b20000;
  font-size: 1.25em;
  border-radius: 5px;
  width: 300px;
  margin: 0;
}
#searchBar #filterBtn {
  margin-top: 0;
  padding: 5px 10px;
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;
  margin-left: 0.5rem;
  cursor: pointer;
  color: #ffffff;
  background-image: linear-gradient(#ff3b3b, #b20000);
  border: 3px solid #b20000;
}
/* Buttons */
#buttoncheck {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}
#btnClockIn, #btnClockOut, #btnbrkstrt, #btnbrkend {
  padding: 12px 30px;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  background-image: linear-gradient(#ff3b3b, #b20000);
  border: 3px solid #b20000;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  transition: all 0.5s ease, background 0.3s, transform 0.3s;
}
button {
  box-shadow: 6px 6px 0 black;
}
button:hover {
  background-image: linear-gradient(90deg, #b20000 0%, #ff3b3b 40%, #ffb347 80%, #b20000 100%);
  transform: scale(1.05);
}

button:active {
  background-image: linear-gradient(#b20000, #ff3b3b);
  transform: translateY(5px);
  transition: 100ms;
}

/* Table */
table {
  margin: 10px 0 10px 0;
  width: 100%;
  background-color: #3f3f3f;
  border: solid 5px #b20000;
  margin-bottom: 20px;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: center;
}
th:nth-child(even) {
  background-color: #d20000;
  color: #ffffff;
}
th:nth-child(odd) {
  background-color: #dc0000;
  color: #ffffff;
}
tr:nth-child(even) {
  background-color: #333333;
}
tr:hover {
  background-color: #555555;
}
/* Popup */
#popupDialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.popupDialog-content {
  background-color: #404040;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #b20000;
  width: 50%;
  border-radius: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: #ff3b3b;
  text-decoration: none;
  cursor: pointer;
}
/* footer */
footer {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
