/* styles.css is for keeping repetitive styles in a single file */
html { scroll-behavior: smooth; }
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(145deg, #1e1e1e, #3d3d3d);
  background-attachment: fixed;
  font-family: sans-serif;
  color: #ffffff;
  height: 100vh;
}
/* Input fields */
input {
  width: 100%;
  padding: 12px 14px;
  box-sizing: border-box;
  border: 2px solid #b20000;
  border-radius: 5px;
  font-size: 1rem;
  background: #2b2b2b;
  color: #ffffff;
  transition: border-color 0.2s, box-shadow 0.2s;
  margin-top: 10px;
}
input::placeholder {
  color: #cccccc;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
/* Popup */
#popupDialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.popupDialog-content {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  margin: 15% auto;
  padding: 15px;
  border: 1px solid #b20000;
  width: 50%;
  border-radius: 10px;
}
.popupDialog-header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b20000;
}
#closePopup {
  color: #aaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
}
#closePopup:hover,#closePopup:focus {
  color: #ff3b3b;
  text-decoration: none;
  cursor: pointer;
}
#popupDialog-title {
  margin: 5px;
  font-size: 1.5em;
}
#popupDialog-text {
  font-size: 1.2em;
  margin: 10px 5px;
}
/* footer */
footer {
  text-align: center;
  font-size: smaller;
  margin-top: 20px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* Responsive Design */
@media (max-width: 800px) {
  * {
    font-size: small;
  }
  input, select, button {
    font-size: 0.9rem;
    padding: 10px;
  }
  footer {
    font-size: 0.8rem;
  }
}