<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Company Time Manager</title>
    <link rel="stylesheet" href="static/css/homestyles.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <main>
        <div id="titleheader">
            <h2>COMPANY TIME MANAGEMENT SYSTEM</h2>
            <img src="static/dashboardmenu_Icon_UQFybnln52/logo-transparent_1.png" alt="Company Logo">
        </div>
        <div id="header">
            <div>
                <h3>Logged in as {{.Username}}!</h3>
            </div>
            <a href="/logout/" id="logOutButton">Logout</a>
        </div>
        <div id="searchBar">
            <input type="text" id="search" placeholder="Search...">
            <button id="filterBtn">Filter</button>
        </div>
        <div class="table-container">
            <table id="logTable">
                <tr>
                    <th>Department</th>
                    <th>Employee</th>
                    <th>Clock In</th>
                    <th>Break Start</th>
                    <th>Break End</th>
                    <th>Clock Out</th>
                    <th>Total Hours</th>
                </tr>
                {{range .ClockHistories}}
                <tr>
                    <td id="departmentName" data-value='{{ .Employee.Departments.ID }}'>{{.Employee.Departments.Name}}</td>
                    <td data-value="{{ .ID }}">{{.Employee.LastName}} {{.Employee.FirstName}}</td>
                    <td class="date">{{.ClockIn}}</td>
                    <td class="date">{{if .BreakStart}}{{.BreakStart}}{{end}}</td>
                    <td class="date">{{.BreakEnd}}</td>
                    <td class="date">{{.ClockOut}}</td>
                    <td>{{.TotalHours}}</td>
                </tr>
                {{end}}
            </table>
        </div>
        <div id="buttoncheck">
            <button id="btnClockIn" data-value="clockIn">Clock In</button>
            <button id="btnbrkstrt" data-value="breakStart">Break Start</button>
            <button id="btnbrkend" data-value="breakEnd">Break End</button>
            <button id="btnClockOut" data-value="clockOut">Clock Out</button>
        </div>
    </main>

    <div id="popupDialog">
        <div class="popupDialog-content">
            <div class="popupDialog-header">
                <h2 id="popupDialog-title">ERROR! Attention required:</h2>
                <span id="closePopup">&times;</span>
            </div>
            <h1 id="popupDialog-text">Some text in the Modal..</h1>
        </div>
    </div>

    <footer>
        <p>&copy; 2025: Kurt Gibertas, Jose Tapic, Briana Palinsad, & John Michael Delos reyes</p>
    </footer>
</body>
<script>
    let empid = '{{.EmployeeID}}'; // Employee ID
    console.log("empID: ", `{{.EmployeeID}}`);
    let current_id = '{{.Current.ID}}'; // Current clock in ID
    console.log("currentID: ", `{{.Current.ID}}`);
    let breakstarted_id = '{{.onbreak.ID}}'; // Break started ID
    console.log("onbreakID: ", `{{.onbreak.ID}}`);
    let tookabreak = '{{.tookabreak}}' ? true : null; // Took a break status
    console.log("tookabreak: ", `{{.tookabreak}}`);
    let isAdmin = '{{.IsAdmin}}' > 0 ? '{{.IsAdmin}}' : null; // Admin status
    console.log("isAdmin: ", `{{.IsAdmin}}`);
    let isClockedIn = localStorage.getItem("recentlogin") == 0 || localStorage.getItem("recentlogin") == null ? false : true;
    let isBreakStarted = localStorage.getItem("breakstarted") == 0 || localStorage.getItem("breakstarted") == null ? false : true;
</script>
<script src="/static/js/home.js"></script>

</html>