<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/homestyles.css">
    <title>Company Time Manager</title>
</head>
<body>
    <main>
        <div id="header">
            <h3>Logged in as {{.Username}}!</h3>
            <a href="/login/" type="button">Logout</a>
        </div>
        
        <table id="logTable" style="width:100%">
            <tr>
                <th>Clock In</th>
                <th>Clock Out</th>
                <th>Break Start</th>
                <th>Break End</th>
                <th>Total Hours</th>
                <th>Department</th>
                <th>Employee</th>
            </tr>
            {{range .ClockHistories}}
            <tr>
                <td>{{.ClockIn}}</td>
                <td>{{.ClockOut}}</td>
                <td>{{.BreakStart}}</td>
                <td>{{.BreakEnd}}</td>
                <td>{{.TotalHours}}</td>
                <td>{{.Departments.Name}}</td>
                <td>{{.Employee}}</td>
            </tr>
            {{end}}
  
            </table>
        <div>
            <button id="btnClockIn">Clock In</button>
            <button id="btnClockOut">Clock Out</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2025: Kurt Gibertas & Jose Tapic</p>
    </footer>
</body>
</html>

