<!--
    TO DO:
    A Company has many Departments, and each Department has many Employees.
    Add Filter to the search function (Day, Time of Clock in/out, Employee Name, Department Name)
    The user (employee) can clock in/out.
    The user (employee) can see their clock in/out history.
    If the user is already login and tries to login again, show a message "You are already logged in".
    The user's current session should be saved in local storage.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/loginstyles.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Company Time Manager - Log In</title>
</head>

<body>
    <main>
        <div class="container">
            <div>
                <img src="/static/dashboardmenu_Icon_UQFybnln52/logo-white_1.png">
                <h3>Time Management</h3>
            </div>
            <form method="POST">
                <input type="text" name="username" id="username" placeholder="Username" required />
                <input type="password" name="password" id="password" placeholder="Password" required />
                <button type="submit" id="btnLogin">Log In</button>
            </form>
            <h3 class="errormsg">{{.Err}}</h3>
            <p class="registerlink">No account? <a href="/register/">Register!</a></p>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2025: Kurt Gibertas, Jose Tapic, Briana Palinsad, & John Michael Delos reyes</p>
    </footer>
</body>

</html>