<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/registerstyles.css">

    <title>Company Time Manager - Register</title>
</head>

<body>
    <main>
        <div>
            <div>
                <h1>REGISTER</h1>
                <p>Create your own account</p>
            </div>
            <input type="text" name="first_name" id="first_name" placeholder="First Name" />
            <input type="text" name="last_name" id="last_name" placeholder="Last Name" />
            <input type="text" name="username" id="username" placeholder="Username" />
            <input type="email" name="email" id="email" placeholder="Email" />
            <input type="password" name="password" id="password" placeholder="Password" />

            <select name="department_id" id="department_id">
                {{ if .Departments }}
                {{ range .Departments }}
                <option value='{{ .ID }}'>{{ .Name }}</option>
                {{ end }}
                {{ else }}
                <option value="" disabled>No departments available</option>
                {{ end }}
            </select>

            <button type="submit" id="btnRegister">Register</button>
            <p class="linklogin">Already have an account? <a href="/login/">Login</a></p>

        </div>
    </main>

    <footer>
        <p>&copy; 2025: Kurt Gibertas, Jose Tapic, Briana Palinsad, & John Michael Delos reyes</p>
    </footer>


</body>



<script src="/static/js/register.js"></script>

</html>